@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #000000;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-navbar: navbar 0.5s ease-out;
  --animate-scroll: scroll 5s infinite cubic-bezier(0.9,0.01,0.3,0.99);
  --animate-scroll3: scroll3 7s infinite cubic-bezier(0.9,0.01,0.3,0.99);
  @keyframes navbar {
    0%{
      width: 0;
      opacity: 0;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }
  @keyframes scroll {
    50%{
      transform: translateY(-25%);
    }
    100%{
      transform: translateY(-50%);
    }
  }
  @keyframes scroll3 {
    33.3%{
      transform: translateY(-16.6%);
    }
    66.6%{
      transform: translateY(-33.3%)
    }
    100%{
      transform: translateY(-50%);
    }
  }
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}